<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Puestos</title>
</head>
<body>
<h1>Puestos</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Salario</th>
        <th>Público</th>
        <th>Activo</th>
        <th>Fecha Registro</th>
        <th>Empresa</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${puestos}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.descripcion}"></td>
        <td th:text="${p.salario}"></td>
        <td th:text="${p.esPublico ? 'Sí' : 'No'}"></td>
        <td th:text="${p.activo ? 'Sí' : 'No'}"></td>
        <td th:text="${p.fechaRegistro}"></td>
        <td th:text="${p.empresa.nombre}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
